* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  background-color: #2e3047;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line: height 0;
}

.navigation {
  padding: 25px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #2e3047;
  color: #ffffff;
}

.navigation h1 {
  display: inline-block;
  font-size: 30px;
}

.navigation section {
  margin-right: 20px;
  float: right;
  font-size: 20px;
  color: #ffffff;
}

.navigation section ul li {
  display: inline-block;
  margin-left: 25px;
  color: #ffffff;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.hero-banner {
  height: 300px;
  width: 100%;
  background-image: url("../images/hero.webp");
  background-size: cover;
  background-position: center;
  color: aliceblue;
}

.hero-banner h2 {
  margin-top: 50;
  padding-top: 100;
}

.aboutsection {
  margin: 0px 5%;
  display: grid;
  min-height: 200px;
  height: 300px;
  grid-template-columns: 25% 1fr;
  grid-template-areas:
    'About harisinfo';
  color: alicebluelack;

}

#About {
  background-image: url("../images/WhatsApp\ Image\ 2022-04-28\ at\ 2.07.40\ PM.jpeg");
  background-size: cover;
  background-position: center;
  grid-template-areas: About;
  margin: 15px 5%;
}

#Harisinfo {
  grid-area: harisinfo;

}

.worksection {
  margin: 0px 5%;
  display: grid;
  min-height: 200px;
  height: 1000px;
  grid-template-columns: 15% 1fr 1fr;
  grid-template-rows: 15% 15% 15%;
  grid-template-areas:
    'Work SurfReport SurfReport'
    'Work LedWall Calculator'
    'Work PastelPuzzles RunBuddy';
  color: alicebluelack;


}

#Work {
  grid-area: Work;
  margin: 10px 5%;

}

#SurfReport {
  background-image: url("../images/02-portfolio-4.jpg");
  background-size: cover;
  background-position: center;
  grid-area: SurfReport;
  margin: 10px 5%;



}

#LedWall {
  background-image: url("../images/02-portfolio-1.jpg");
  background-size: cover;
  background-position: center;
  grid-area: LedWall;
  margin: 10px 5%;

}

#Calculator {
  background-image: url("../images/02-portfolio-2.jpg");
  background-size: cover;
  background-position: center;
  grid-area: Calculator;
  margin: 10px 5%;

}

#PastelPuzzles {
  background-image: url("../images/02-portfolio-3.jpg");
  background-size: cover;
  background-position: center;
  grid-area: PastelPuzzles;
  margin: 10px 5%;

}

#RunBuddy {
  background-image: url("../images/02-run-buddy.jpg");
  background-size: cover;
  background-position: center;
  grid-area: RunBuddy;
  margin: 10px 5%;

}

.Contactsection {
  margin: 0px 5%;
  display: grid;
  min-height: 200px;
  height: 100px;
  grid-template-columns: 20% 1fr;
  grid-template-areas:
    'contact contactlinks';
  color: alicebluelack;
  margin: 10px 5%;

}

#contact {
  grid-area: contact;

}


#contactlinks ul li {
  float: right;
  grid-area: contactlinks;
  display: inline-block;
  margin-left: 25px;
  color: black;
  margin: 15px 5%;
}



p {
  padding-top: 50px;
  margin-top: 20px;
  color: #ffffff;
  font-size: 15px;
  margin: 0;
  margin: 15px 5%;
}

.heading {
  background-color: rgb(9, 96, 99);
  width: 20%;
  height: 25px;
  color: white;
  font-size: 18px;
  padding: 25;
  margin: 25;
}

@media only screen and (max-width: 1000px) {
  #navigation {
    display: none;
  }

  .icons {
    margin-left: auto;
  }
}

@media only screen and (min-width:320px) {}

@media only screen and (min-width:768px) {}

@media only screen and (min-width:800px) {}